header.login{
    height: 35vh;
    background: url(../assets/login.jpg) center center no-repeat #F6BBA9;
    background-size: 60%;
}

.login__heading{
    text-align: center;
    color: #161A3B;
    margin: 1em 0;
}
h1 .login__heading{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0em 0 -1em 0;
    font-size: 1em;
}
.login__form{
    padding: 1em;
    width: 60%;
    margin: auto;
}

.form__title{
    font-size: 25px;
    color: #3D655B;
	margin-top: -20px;
	text-align: center;
}

.form__field{
    padding-bottom: 1em;
}

.form__field label {
	display: block;
	margin-bottom: 0.2em;
}

.form__field .label__inline {
	display: inline-block;
}

.inputField {
    width: 95%;
    height: 28px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
	border-bottom: 2px solid #3D655B;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	font-size: 11px;
}

.form input::placeholder {
	color: #8EABA7;
	margin-bottom: 5px;
}

.form text::placeholder {
	color: #8EABA7;
	margin-bottom: 5px;
}

.btn {
	width: 100%;
    margin: 0.5em auto;
}

.btn--primary {
	background-color: #F6BBA9;
	color: black;
	text-align: center;
	border: none;
	padding: 0.3em 2em;
	font-size: 1.2em;
}

#newAccount {
    text-align: center;
}

#alreadyAccount {
    text-align: center;
}

a:link { 
    color: #3D655B;
    text-decoration: none;
  }

.form_error {
    width: 75%;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #E9504B;
	color: white;
	padding: 0.3em 1em;
	margin-bottom: 1em;
	font-size: 0.9em;
}



@media (min-width: 760px){
    div.login__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    header.login{
        min-height: 100vh;
        height: 100%;
    }
    main.login{
        padding: 20vh 0;
        max-width: 500px;

    }
    .login__form{
        margin: auto;
    }
}